<main>
  {{> _flash-message}}

  <form class="login-form" action="/login" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="form-control">
      <label for="email">Email</label>
      <input
        class="{{#if emailError}}invalid{{/if}}"
        id="email"
        type="email"
        name="email"
        value="{{ oldInput.email }}" />
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        class="{{#if passwordError}}invalid{{/if}}"
        id="password"
        type="password"
        name="password"
        value="{{ oldInput.password }}" />
    </div>

    <button type="submit" class="btn">Login</button>
  </form>

  <div class="centered">
    <a href="/reset-password">Forgot Password?</a>
  </div>
</main>
