<main>
  {{> _flash-message}}

  <form class="login-form" action="/new-password" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <input type="hidden" name="userId" value="{{ userId }}" />
    <input type="hidden" name="token" value="{{ token }}" />

    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" />
    </div>

    <button type="submit" class="btn">Update Password</button>
  </form>
</main>
