<main>
  {{> _flash-message}}

  <form class="login-form" action="/login" method="POST">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" />
    </div>

    <button type="submit" class="btn">Reset Password</button>
  </form>
</main>
