<main>
  <form class="login-form" action="/signup" method="POST">
    <div class="form-control">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" />
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" />
    </div>

    <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="confirmPassword" name="confirmPassword" />
    </div>

    <button type="submit" class="btn">Signup</button>
  </form>
</main>
