<main>
  {{> _flash-message}}

  <form class="login-form" action="/signup" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class="form-control">
      <label for="email">Email</label>
      <input
        class="{{#if emailError}}invalid{{/if}}"
        id="email"
        type="email"
        name="email"
        value="{{ oldInput.email }}" />
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input
        class="{{#if passwordError}}invalid{{/if}}"
        id="password"
        type="password"
        name="password"
        value="{{ oldInput.password }}" />
    </div>

    <div class="form-control">
      <label for="confirmPassword">Confirm Password</label>
      <input
        class="{{#if confirmPasswordError}}invalid{{/if}}"
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        value="{{ oldInput.confirmPassword }}" />
    </div>

    <button type="submit" class="btn">Signup</button>
  </form>
</main>
