<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="{{#if activeShop}}active{{/if}}">
          Shop
        </a>
      </li>

      <li class="main-header__item">
        <a href="/products" class="{{#if activeProducts}}active{{/if}}">
          Products
        </a>
      </li>

      {{#if isLoggedIn}}
        <li class="main-header__item">
          <a href="/cart" class="{{#if activeCart}}active{{/if}}">
            Cart
          </a>
        </li>

        <li class="main-header__item">
          <a href="/orders" class="{{#if activeOrders}}active{{/if}}">
            Orders
          </a>
        </li>

        <li class="main-header__item">
          <a href="/admin/add-product" class="{{#if activeAddProduct}}active{{/if}}">
            Add Product
          </a>
        </li>
        <li class="main-header__item">
          <a href="/admin/products" class="{{#if activeAdminProducts}}active{{/if}}">
            Admin Products
          </a>
        </li>
      {{/if}}
    </ul>

    <ul class="main-header__item-list">
      {{#if isLoggedIn}}
        <li class="main-header__item">
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
            <button type="submit">Logout</button>
          </form>
        </li>
      {{else}}
        <li class="main-header__item">
          <a href="/login" class="{{#if activeLogin}}active{{/if}}">Login</a>
        </li>

        <li class="main-header__item">
          <a href="/signup" class="{{#if activeSignup}}active{{/if}}">Signup</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>
