<main>
  {{#if hasProducts}}
    <ul class="cart__item-list">
      {{#each products}}
        <li class="cart__item">
          <h1>{{ this.title }}</h1>
          <h2>Quantity: {{ this.cartItem.quantity }}</h2>
          <form action="/cart/{{ this.id }}/delete" method="POST">
            <button type="submit" class="btn danger">Delete</button>
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h1>No products in cart!</h1>
  {{/if}}
</main>
