<main>
  {{#if hasProducts}}
    <ul>
      {{#each products}}
        <li>
          <p>
            {{ this.product.title }} ({{ this.quantity }})
          </p>
          <form action="/cart/{{ this.product.id }}/delete" method="POST">
            <button type="submit" class="btn">Delete</button>
          </form>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h1>No products in cart!</h1>
  {{/if}}
</main>
